#About{
    padding: 14vw 15vw 0 15vw;
    .mainTitle{
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 3.6vw;
        font-weight: 700;
        margin-bottom: 3vw;
        span{font-size: 3vw;}
    }
    .profile{
    display: flex;
    justify-content: space-between;
        .face{
            border: 1px solid #bbb;
            width: 18vw;
            height: 22vw;
        }
        .content{
            margin-top: 1.8vw;
            .tag{
                display: flex;
                justify-content: space-between;
                .nameTag{
                    margin-right: 5vw;
                    .kr{
                        font-size: 2.3vw;
                        font-weight: 700;
                        font-family: 'Noto Sans KR', sans-serif;
                        .birth{
                            font-family: 'Titillium Web', sans-serif;
                            padding-left: 1vw;
                            font-size: 1.3vw;
                            font-weight: 600;
                        }
                    }
                    .en{
                        font-family: 'Titillium Web', sans-serif;
                        line-height: 120%;
                        font-size: 2.3vw;
                        font-weight: 700;
                    }
                }
                .personalTag{
                    .pT{
                        display: flex;
                        font-family: 'Titillium Web', sans-serif;
                        margin-bottom: 1.2vw;
                        h5{ 
                            text-align: center;
                            font-weight: 700;
                            font-size: 1.5vw;
                            width: 8vw;
                            padding: 3px 10px;
                            background: var(--main-color);
                            border-radius: 5px;
                        }
                        span{
                            text-align: left;
                            font-size: 1.5vw;
                            font-weight: 600;
                            padding-left: 2vw;
                        }
                        &.phone{}
                        &.email{}
                    }
                    
                }
            }
            .aboutMe{
                margin-top: 2vw;
                font-family: 'Noto Sans KR', sans-serif;
                h5{
                    font-size: 2vw;
                    font-weight: 600;
                    margin-bottom: 0.8vw;
                }
                span{
                    line-height: 130%;
                    font-size: 1.6vw;
                    font-weight: 500;
                }
            }
        }
        
    }
}
        
        
        

