#Skill{
    font-family: 'Titillium Web', sans-serif;
    background: var(--main-color);
    padding: 8vw 9vw;
    .wrap{
        h4{
            font-size: 1.8vw;
            font-weight: 700;
            margin-bottom: 1vw;
        }
        .box{
            display: flex;
            justify-content: space-between;
            background: rgba(255,255,255,.5);
            padding: 1vw 3vw;
            border-radius: 10px;
            margin-bottom: 5vw;
            .rec{
                position: relative;
                &.skill{}
                &.tool{
                    img{
                        width: 8vw;
                        height: 8vw;
                    }
                }
                img{
                    width: 8.5vw;
                    height: 8.5vw;
                }
                span{
                    position: absolute;
                    bottom: 1.5vw;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: .9vw;
                    font-weight: 600;
                    text-align: center;
                    line-height: 100%;
                }
            }
            
        }
    }
    
}