#Skill{
    font-family: 'Titillium Web', sans-serif;
    background: var(--main-color);
    padding: 8vw 10vw;
    .wrap{
        h4{
            font-size: 1.8vw;
            font-weight: 700;
            margin-bottom: 1vw;
        }
        .box{
            
            
            background: rgba(255,255,255,.5);
            padding: 1vw 5vw;
            border-radius: 10px;
            margin-bottom: 3vw;
            &.skillBox{}
            &.toolBox{
                display: grid;
                grid-column-start : 3;
                grid-column-end : 5;
            }
            .rec{
                position: relative;
                &.skill{}
                &.tool{}
                img{
                    width: 8vw;
                    height: 8vw;
                }
                span{
                    position: absolute;
                    bottom: 2.2vw;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 1vw;
                    font-weight: 600;
                    text-align: center;
                    line-height: 100%;
                }
            }
            
        }
    }
    
}