#Header{
    z-index: 999;
    width: 100%;
    background: #f9f9f9;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 2vw 20vw;
    
        li{
            font-weight: 700;
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.4vw;
            display: flex;
            color: #222;
            position: relative;
            transition: .5s;
            cursor: pointer;
            mark{
                background: 0;
                &:hover{
                    --bg-height: 40%;
                    all: unset;
                    background-image: linear-gradient(var(--main-color), var(--main-color));
                    background-position: 0 100%;
                    background-repeat: no-repeat;
                    background-size: 0 var(--bg-height);
                    animation: highlight 500ms 1 ease-out;
                    animation-fill-mode: forwards;
                }
            }
        }
   
}
@keyframes highlight {
    to {
      background-size: 100% var(--bg-height);
    }
}
@media screen and (max-width: 1200px) {
    .menu{
        li{
            font-size: 2vw;
        }
    }
}
@media screen and (max-width: 780px) {
    .menu{
        justify-content: center;
        li{
            font-size: 2.5vw;
            padding: 0 30px;
        }
    }
}