body{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    .title{
        color: #222;
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Titillium Web', sans-serif;
        h1{
            text-align: center;
            font-size: 2vw;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 3vw;
            span{
                display: block;
                font-size: 3.5vw;
                font-weight: 900;
            }
        }
        button{
            background: none;
            display: block;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 700;
            margin: 0 auto;
            font-size: 1.2vw;
            transition: .3s ;
            &:hover{
                letter-spacing: .35vw;
            }
    
        }
    
    }
    
}